@import "../../common/global/variables";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navbarNav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  display: inline-block;
}

.navLink {
  color: var(--text-color);
  display: block;
  padding: 10px;
  text-decoration: none;
  margin-right: 1rem;
  font-size: 1.2rem;

  svg {
    width: 22px;
    margin-right: -16px;
    margin-bottom: 5px;
    stroke: var(--text-color);
  }

  @media (max-width: $breakpointPhone) {
    font-size: 1rem;
  }
}

.lang {
  color: var(--text-color);
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.2rem;

  @media (max-width: $breakpointPhone) {
    font-size: 1rem;
  }
}

.toggleTheme {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;

  svg {
    width: 30px;
  }

  @media (max-width: $breakpointPhone) {
    font-size: 1rem;
  }
}

.wrapperLangTheme {
  display: flex;
  align-items: center;
}
