.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navbarNav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  display: inline-block;
}

.navLink {
  color: var(--text-color);
  display: block;
  padding: 10px;
  text-decoration: none;

  svg {
    width: 22px;
    margin-right: -16px;
    margin-bottom: 5px;
    stroke: var(--text-color);
  }
}

.lang {
  color: var(--text-color);
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  cursor: pointer;

  option {
    color: var(--text-color);
    background-color: black;
    border: none;
  }
}

.toggleTheme {
  background-color: transparent;
  border: none;
  cursor: pointer;

  svg {
    width: 30px;
  }
}

.wrapperLangTheme {
  display: flex;
  align-items: center;
}
