body {
  font: 16px/1.6 Source Sans Pro, serif;
  background: black;
  color: #a6a3a3;
  
}
body,
html{
  height: 100vh;
}
.card {
  background-color: #141414;
}

.profile-picture {
  width: 50%;
  height: 50%;
  background-color: #141414;
  background-size: cover;
  border-radius: 6px;
}

.card {
  transition: transform 200ms;
}
.card:hover{
  transform: scale(1.1);
}
.nav i{
  margin-right: .5em;
  font-size: .75em;
}
.nav li{
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}
a h5 {
  font-weight: bold;
}
a p {
  color:#a6a3a3;
}
.site-title {
  color: white;
}
