@media (min-width: 768px) {
  .profile-picture img {
    width: 50%;
    height: 50%;
  }
}

.profile-picture {
  margin-bottom: 0.25rem;
  flex: 0 0 auto;
  width: 33.33333%;
}

.profile-picture img {
  background-color: #141414;
  background-size: cover;
  border-radius: 6px;
  max-width: 100%;
  height: auto;
}

@media (min-width: 576px) {
  .profile-picture {
    flex: 0 0 auto;
    width: 33.33333%;
  }
}

@media (min-width: 768px) {
  .profile-picture {
    flex: 0 0 auto;
    width: 100%;
  }
}
