<div class="container pr-0 mr-0">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-5">

      <div class="col-3 col-sm-3 col-md-12 col-lg-12 col-xl-12">
        <div class="profile-picture img-fluid" style="background-image: url(https://i.imgur.com/RJU65uz.jpg);"></div>
      </div>

      <div class="col-9 col-sm-9 col-md-12 col-lg-12 col-xl-12 profile-content">
        <h1 class="site-title">Nestor Cortina</h1>
        <div class="site-description">
          I'm a developer passionate about developing Full Stack applications with free and open source technologies
          from Colombia.
        </div>
        
        <div class="profile-meta-items">
          <i class="fab fa-github"></i><a href="https://github.com/nexckycort" target="_blank"> @nexckycort</a>
        </div>
      </div>

    </div>

    <hr class="d-block d-sm-none  mt-5">

    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 scroll mt-5">
      <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-3">
          <a href="https://github.com/nexckycort/backend-architecture-nodejs" target="_blank">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Backend Architecture Node.js</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-3">
          <a href="https://github.com/nexckycort/backend-architecture-deno" target="_blank">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Backend Architecture Deno</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-3">
          <a href="https://github.com/nexckycort/hexagonal-architecture-react" target="_blank">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Hexagonal Architecture React</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>

  </div>
</div>