.profile-meta-items {
  margin-top: 0.5rem !important;
}
.profile-meta-items a {
  margin-right: 10px;
}
.profile-meta-items a svg {
  color: #a6a3a3;
  width: 18px;
}
.profile-meta-items a svg:hover {
  color: white;
  transform: scale(1.3);
}
