@import '../node_modules/normalize.css/normalize.css';

:root {
  --text-color: black;
  --bg-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body.dark {
  --text-color: white;
  --bg-color: black;
}
