@import '../../components/common/global/variables';

.aboutMeWrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.meWrapper {
  width: 100%;
}

.me {
  border-radius: 5px;
  box-shadow: 0 0 64px rgb(0 0 0 / 15%);
  width: 100%;
}

.rol {
  color: var(--text-color);
  font-family: 'GT-Walsheim-Pro-Medium';
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 8px;
  @media (min-width: $breakpointPhone) {
    font-size: 1.8em;
  }
}

.title {
  color: var(--text-color);
  font-size: 3rem;
  text-transform: capitalize;
  font-family: 'GT-Walsheim-Pro-Bold';
  @media (max-width: $breakpointPhone) {
    font-size: 2rem;
  }
}

.description {
  font-size: 1.2rem;
  line-height: 2;
  color: var(--text-gray);
}

.aboutMe {
  width: 100%;
}

@media (min-width: $breakpointLarge) {
  .aboutMe,
  .meWrapper {
    width: 46%;
  }
}
